p {
    margin-top: 0;
}

p:last-child {
    margin-bottom: 0;

}

#bot {
    background: white;
    box-shadow: 0 1px 2px 0 rgba(65, 65, 65, 0.2);
    position: fixed;
    bottom: -480px;
    right: 20px;
    width: 220px;
    transition: all .8s;
    z-index: 100;
}

#bot.active {
    bottom: 0;
    width: 300px;
}

#bot.active-open {
    bottom: -421px;
}

#bot_header {
    background: #ed7d31;
    height: 50px;
    border-radius: 5px 5px 0 0;
    cursor: pointer;
    transition: all .2s;
}

#bot_header:hover {
    background: #d7690a;
}

#bot_header:before {
    background: white;
    border-radius: 50%;
    height: 38px;
    width: 38px;
    content: "";
    position: absolute;
    top: 6px;
    left: 8px;
    z-index: 1;
}

#bot_header img {
    position: relative;
    width: 25px;
    float: left;
    margin: 10px 15px 5px 14px;
    z-index: 2;
}

#bot_header h5 {
    display:inline-block;
    font-family: itc-avant-garde-gothic-pro, sans-serif !important;
    color: white;
    font-size: 16px;
    margin: 0;
    margin-top: 9px;
}

#bot_header h6 {
    font-family: itc-avant-garde-gothic-pro, sans-serif !important;
    color: white;
    font-size: 12px;
    line-height: 16px;
    margin: -2px 0 0 0;
    display: block;
    font-weight: 100 !important;
}

#bot_header span {
    display: none;
    background: rgba(255,255,255,.1);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    position: absolute;
    right: 15px;
    top: 10px;
}

#bot.active #bot_header span {
    display: block;
}

#bot_header span:hover {
    background: none;
}

#bot_header span img {
    width: 15px;
    float: none;
    margin: 6px 0 0 8px;
}

#bot_body {
    padding: 0 16px 16px 16px;
    height: 360px;
    width: 100%;
    overflow-y: auto;
}

#bot_body.typingDisabled {
    height: 500px;
}

.fade-in > br:first-child {
    display: none;
}
.revert-choice {
    cursor: pointer;
    color: #6b6b6b;
    transition: all .2s;
    border: 1px solid #6b6b6b;
    border-radius: 15px;
    height: 30px;
    padding: 0 30px 0 10px;
    margin: 10px 0;
    display: inline-block;
    line-height: 30px;
    position: relative;
}

.revert-choice:after {
    content: "";
    background: url('https://www.vvaa.nl/-/media/service/icons/gray/chevron.svg');
    width: 13px;
    height: 13px;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 9px;
    margin: auto;
    background-size: 13px 13px;
    transform: rotate(180deg);
    transition: all .2s;
}

.revert-choice.active:after {
    transform: rotate(0deg);
}

.revert-choice:hover {
    color: black;
}

.revert-choice + .conv-options {
    display: none;
}

.revert-choice.active + .conv-options {
    display: block;
    background: white;
    border: 1px solid #ccc;
}

.revert-choice.active + .conv-options .conv_option {
    background: #fc7c02;
}

.fade-in.visible {
    display: block;
}

.conv_message, #waiting-element {
    margin: 24px 0;
}

.conv_message p, .conv_message ul, #waiting-element p, #waiting-element ul {
    background: #f2f2f4;
    border-radius: 5px 0;
    max-width: 90%;
    font-family: Arial, sans-serif !important;
    font-size: 14px;
    padding: 8px;
    color: #2d2d2d;
    line-height: 1.5;
    margin-bottom: 5px;
    clear: both;
    float: left;
    min-width: 40px;
    width: 100%;
}

.conv_message.options.fullfilled > p:last-of-type {
    background: white;
}

.conv_message.options.fullfilled > p:last-of-type span:first-child {
    margin-top: 10px;
}

.conv_message p img, .conv_message ul img, #waiting-element p img, #waiting-element ul img {
    width: 33px;
    margin-bottom: 2px;
}

.conv_message p, .conv_message ul, #waiting-element p, #waiting-element ul {
    background: #f2f2f4;
    border-radius: 5px 0;
    max-width: 90%;
    padding: 8px;
    font-size: 14px;
    color: #2d2d2d;
    line-height: 1.5;
    margin-bottom: 5px;
    clear: both;
    float: left;
    min-width: 40px;
}

.conv_message p:last-of-type + ul, .conv_message ul:last-of-type + ul, #waiting-element p:last-of-type + ul,  #waiting-element ul:last-of-type + ul {
    display: none;
}

.conv_message .typing, #waiting-element .typing {
    background: white;
    box-shadow: 0 1px 2px 0 rgba(65, 65, 65, 0.2);
    border-radius: 0 20px 20px 20px;
    max-width: 90%;
    padding: 12px;
    float: left;
    clear: both;
    margin-bottom: 5px;
}

.conv_message .typing span, #waiting-element .typing span {
    display: block;
    background: url('https://www.vvaa.nl/-/media/service/icons/typing.svg');
    background-size: 33px 33px;
    width: 33px;
    height: 24px;
    margin-bottom: 2px;
}

.conv_message ul, #waiting-element ul {
    padding-left: 32px;
    padding-top: 20px;
    margin-top: -21px;
    border-radius: 0 0 20px 20px;
}

.conv_message.options p:last-of-type, #waiting-element.options p:last-of-type {
    border-radius: 0 20px 0 0;
    width: 100%;
}

.conv_message.userAnswer p, #waiting-element.userAnswer p {
    background: #acacac;
    color: white;
    float: right;
    border-radius: 5px 0;
    margin: 24px 0;
}

.conv_message.feedback p, #waiting-element.feedback p {
    width: 100%;
    border-radius: 0 20px 0 0;
    margin-bottom: 0;
}

.conv_message.loading, #waiting-element.loading {
    margin-top: -15px;
}

.conv_message.waiting:last-child, #waiting-element.waiting:last-child {
    display: none;
}

.conv_message a {
    font-family: Arial, sans-serif !important;
}

.conv_message u {
    cursor: pointer;
    font-family: Arial, sans-serif !important;

}

.conv_message em {
    font-family: Arial, sans-serif !important;
}

.conv_message.final p {
    border-radius: 0 20px 20px 0 !important;
}

.conv_message.options.fullfilled div + p {
    padding: 0;
}

.conv_message.fullfilled .conv_message {
    margin-top: 0;
}

#fulfillment {
    margin-top: 0;
    background: transparent !important;
}

#fulfillment .conv_option:last-child {
    margin-bottom: 10px;
}

.feedback-element {
    background: white;
    box-shadow: 0 1px 2px 0 rgba(65, 65, 65, 0.2);
    border-radius: 0 20px 20px 20px;
    max-width: 90%;
    padding: 12px;
    color: #2d2d2d;
    line-height: 1.5;
    margin-bottom: 5px;
    clear: both;
    float: left;
}
.conv_options {
    margin-top: 5px;
    background: white !important;
    padding: 0 !important;
}
.conv_option {
    display: block;
    background: #fc7c02;
    color: white;
    padding: 10px;
    border-radius: 24px;
    line-height: 18px;
    text-align:center;
    font-family: Arial, sans-serif !important;
    font-size: 14px;
    margin-bottom: 10px;
    cursor: pointer;
    transition: all .2s;
}

.conv_option:last-child {
    margin-bottom: 0;
}

.conv_option:hover, .conv_option.active {
    background: #8e4009;
    color: white;
}

.conv_option.noclick {
    pointer-events: none;
}

#bot_input {
    background: white;
    height: 57px;
    width: 100%;
    border-top: 1px solid #ccdbdf;
    z-index: 2;
    padding: 11px 15px;
    margin-top: 10px;
}

#bot_input input {
    height: 33px;
    width: 85%;
    float: left;
    border: 1px solid #ddd;
    border-radius: 3px;
    font-family: Arial, sans-serif !important;
    font-size: 14px;
    padding: 0 10px;
    margin-right: 5px;
}

#bot_input input:focus {
    border: 1px solid #fc7c02;
}

#bot_input button {
    cursor: pointer;
    background: none;
    border: none;
    width: 34px;
    margin-top: 3px;
}

#bot_input button img {
    width: 100%;
}

#waiting-element {
    display: none;
}

::-webkit-input-placeholder {
    color: #3e3e3e;
	text-transform: none;
}
::-moz-placeholder {
    color: #3e3e3e;
	text-transform: none;
}
:-ms-input-placeholder {
    color: #3e3e3e;
	text-transform: none;
}
:-moz-placeholder {
    color: #3e3e3e;
	text-transform: none;
}

embeddedservice-chat-header svg.slds-icon-text-default {
    fill: rgb(255, 255, 255) !important;
}
