#escalations, #escalations-search {
    padding: 64px 65px 0 65px;
    display: none;
    h4 {
        text-align: center;
        color: $orange;
        font-weight: 500 !important;
        font-size: 24px;
        margin: 0 0 24px 0;
    }
    h5 {
        font-size: 20px;
        margin-bottom: 32px;
        text-align: center;
        color: $dark-gray;
    }
    .escalation-block {
        display: none;
        &.active {
            .block-inner {
                .availability {
                    i {
                        display: block;
                    }
                    b {
                        display: none;
                    }
                }
            }
        }
        &.active-phone {
            h3 {
                display: none;
                + h4 {
                    display: block;
                }
            }
        }
        .block-inner {
            display: block;
            border-radius: 3px;
            background: #f0f0f0;
            padding: 15px 0 10px 0;
            margin-bottom: 20px;
            border: 1px solid #f0f0f0;
            transition: all .2s;
            cursor: pointer;
            text-decoration: none;
            color: #3f434a;
            &:hover {
                border: 1px solid $orange;
                box-shadow: 0 3px 8px #ccc;
            }
            img {
                width: 70px;
                margin: 0 auto;
                display: block;
            }
            h3, h4 {
                text-align: center;
                color: #3f434a;
                font-size: 20px;
                font-weight: 500 !important;
                margin: 15px 0 24px 0;
            }
            h4 {
                display: none;
            }
            .availability {
                display: block;
                text-align: center;
                &.available {
                    color: #39c661;
                    font-weight: 700;
                }
                i {
                    font-weight: 700;
                    font-style: normal;
                    color: #39c661;
                    display: none;
                }
            }
            p {
                text-align: center;
                font-family: 'Arial', sans-serif !important;
                font-size: 16px;
                margin-bottom: 2px;
            }
            span {
                display: block;
                text-align: center;
                color: #808080;
                font-size: 16px;
            }
        }
    }
    #esc_whatsapp img {
        width: 60px;
    }
    #esc_chat, #search_esc_chat {
        .open {
            display: none;
        }
        .closed {
            display: block;
        }
        .available b, .available i, p {
            display: none;
        }
        &.active {
            .closed {
                display: none;
            }
            .available i, p, .open {
                display: block;
            }
        }
    }
}

#escalations-search {
    padding-top: 20px;
    .escalation-block {
        display: block;
    }
}

.embeddedServiceHelpButton .helpButton {
    bottom: -53px !important;
}

@media only screen and (max-width: 768px) {
    #escalations, #escalations-search {
        padding: 64px 0 0 0;
    }
}
