#subcategories {
    display: none;
    padding: 64px 0;
    h3 {
        color: $orange;
        font-size: 32px;
        text-align: center;
        margin-bottom: 52px;
    }
    h4 {
        color: #3f434a;
        font-size: 20px;
        margin: 0 0 20px 0;
    }
    #subcat-lists {
        ul {
            display: none;
            list-style: none;
            padding: 0;
            margin: 0;
            li {
                cursor: pointer;
                transition: all .2s;
                border: 1px solid $dark-gray;
                color: white;
                line-height: 28px;
                color: black;
                font-size: 18px;
                margin-bottom: 15px;
                padding: 15px;
                font-family: Arial, sans-serif !important;
                &:hover {
                    background: $light-gray;
                }
                &.active {
                    border: 1px solid #f5821f;
                    color: #f5821f;
                    font-weight: 700;
                }
                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }
}

#question-section {
    display: none;
}

@media only screen and (max-width: 992px) {
    #subcategories {
        padding-bottom: 32px;
    }
    #question-section {
        margin-top: 32px;
    }
}
